__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
results/
data/GEOTIFFS/*
!data/GEOTIFFS/.gitkeep
data/PreparedImagery/*
!data/PreparedImagery/.gitkeep
data/GIS/*.shp
data/GIS/*.shx
data/GIS/*.dbf
data/GIS/*.prj
data/GIS/*.cpg
*.npz
*.tif
.DS_Store
